.item-sprite {
  width: 32px;
  height: 32px;
  background-image: url('./../../assets/item-sprites.png');
}

.item-sprite.master-ball {
  background-position: 0px 0px;
}
.item-sprite.ultra-ball {
  background-position: -32px 0px;
}
.item-sprite.great-ball {
  background-position: -64px 0px;
}
.item-sprite.poke-ball {
  background-position: -96px 0px;
}
.item-sprite.safari-ball {
  background-position: -128px 0px;
}
.item-sprite.net-ball {
  background-position: -160px 0px;
}
.item-sprite.dive-ball {
  background-position: -192px 0px;
}
.item-sprite.nest-ball {
  background-position: -224px 0px;
}
.item-sprite.repeat-ball {
  background-position: -256px 0px;
}
.item-sprite.timer-ball {
  background-position: -288px 0px;
}
.item-sprite.luxury-ball {
  background-position: -320px 0px;
}
.item-sprite.premier-ball {
  background-position: -352px 0px;
}
.item-sprite.dusk-ball {
  background-position: -384px 0px;
}
.item-sprite.heal-ball {
  background-position: -416px 0px;
}
.item-sprite.quick-ball {
  background-position: -448px 0px;
}
.item-sprite.cherish-ball {
  background-position: -480px 0px;
}
.item-sprite.potion {
  background-position: -512px 0px;
}
.item-sprite.antidote {
  background-position: -544px 0px;
}
.item-sprite.burn-heal {
  background-position: -576px 0px;
}
.item-sprite.ice-heal {
  background-position: -608px 0px;
}
.item-sprite.awakening {
  background-position: 0px -32px;
}
.item-sprite.paralyze-heal {
  background-position: -32px -32px;
}
.item-sprite.full-restore {
  background-position: -64px -32px;
}
.item-sprite.max-potion {
  background-position: -96px -32px;
}
.item-sprite.hyper-potion {
  background-position: -128px -32px;
}
.item-sprite.super-potion {
  background-position: -160px -32px;
}
.item-sprite.full-heal {
  background-position: -192px -32px;
}
.item-sprite.revive {
  background-position: -224px -32px;
}
.item-sprite.max-revive {
  background-position: -256px -32px;
}
.item-sprite.fresh-water {
  background-position: -288px -32px;
}
.item-sprite.soda-pop {
  background-position: -320px -32px;
}
.item-sprite.lemonade {
  background-position: -352px -32px;
}
.item-sprite.moomoo-milk {
  background-position: -384px -32px;
}
.item-sprite.energy-powder {
  background-position: -416px -32px;
}
.item-sprite.energy-root {
  background-position: -448px -32px;
}
.item-sprite.heal-powder {
  background-position: -480px -32px;
}
.item-sprite.revival-herb {
  background-position: -512px -32px;
}
.item-sprite.ether {
  background-position: -544px -32px;
}
.item-sprite.max-ether {
  background-position: -576px -32px;
}
.item-sprite.elixir {
  background-position: -608px -32px;
}
.item-sprite.max-elixir {
  background-position: 0px -64px;
}
.item-sprite.lava-cookie {
  background-position: -32px -64px;
}
.item-sprite.berry-juice {
  background-position: -64px -64px;
}
.item-sprite.hp-up {
  background-position: -96px -64px;
}
.item-sprite.protein {
  background-position: -128px -64px;
}
.item-sprite.iron {
  background-position: -160px -64px;
}
.item-sprite.carbos {
  background-position: -192px -64px;
}
.item-sprite.calcium {
  background-position: -224px -64px;
}
.item-sprite.rare-candy {
  background-position: -256px -64px;
}
.item-sprite.pp-up {
  background-position: -288px -64px;
}
.item-sprite.zinc {
  background-position: -320px -64px;
}
.item-sprite.pp-max {
  background-position: -352px -64px;
}
.item-sprite.old-gateau {
  background-position: -384px -64px;
}
.item-sprite.guard-spec {
  background-position: -416px -64px;
}
.item-sprite.dire-hit {
  background-position: -448px -64px;
}
.item-sprite.x-attack {
  background-position: -480px -64px;
}
.item-sprite.x-defense {
  background-position: -512px -64px;
}
.item-sprite.x-speed {
  background-position: -544px -64px;
}
.item-sprite.x-accuracy {
  background-position: -576px -64px;
}
.item-sprite.x-sp-atk {
  background-position: -608px -64px;
}
.item-sprite.x-sp-def {
  background-position: 0px -96px;
}
.item-sprite.poke-doll {
  background-position: -32px -96px;
}
.item-sprite.super-repel {
  background-position: -64px -96px;
}
.item-sprite.max-repel {
  background-position: -96px -96px;
}
.item-sprite.repel {
  background-position: -128px -96px;
}
.item-sprite.sun-stone {
  background-position: -160px -96px;
}
.item-sprite.moon-stone {
  background-position: -192px -96px;
}
.item-sprite.fire-stone {
  background-position: -224px -96px;
}
.item-sprite.thunder-stone {
  background-position: -256px -96px;
}
.item-sprite.water-stone {
  background-position: -288px -96px;
}
.item-sprite.leaf-stone {
  background-position: -320px -96px;
}
.item-sprite.tiny-mushroom {
  background-position: -352px -96px;
}
.item-sprite.big-mushroom {
  background-position: -384px -96px;
}
.item-sprite.pearl {
  background-position: -416px -96px;
}
.item-sprite.big-pearl {
  background-position: -448px -96px;
}
.item-sprite.stardust {
  background-position: -480px -96px;
}
.item-sprite.star-piece {
  background-position: -512px -96px;
}
.item-sprite.nugget {
  background-position: -544px -96px;
}
.item-sprite.honey {
  background-position: -576px -96px;
}
.item-sprite.rare-bone {
  background-position: -608px -96px;
}
.item-sprite.shiny-stone {
  background-position: 0px -128px;
}
.item-sprite.dusk-stone {
  background-position: -32px -128px;
}
.item-sprite.dawn-stone {
  background-position: -64px -128px;
}
.item-sprite.oval-stone {
  background-position: -96px -128px;
}
.item-sprite.griseous-orb {
  background-position: -128px -128px;
}
.item-sprite.douse-drive {
  background-position: -160px -128px;
}
.item-sprite.shock-drive {
  background-position: -192px -128px;
}
.item-sprite.burn-drive {
  background-position: -224px -128px;
}
.item-sprite.chill-drive {
  background-position: -256px -128px;
}
.item-sprite.sweet-heart {
  background-position: -288px -128px;
}
.item-sprite.adamant-orb {
  background-position: -320px -128px;
}
.item-sprite.lustrous-orb {
  background-position: -352px -128px;
}
.item-sprite.cheri-berry {
  background-position: -384px -128px;
}
.item-sprite.chesto-berry {
  background-position: -416px -128px;
}
.item-sprite.pecha-berry {
  background-position: -448px -128px;
}
.item-sprite.rawst-berry {
  background-position: -480px -128px;
}
.item-sprite.aspear-berry {
  background-position: -512px -128px;
}
.item-sprite.leppa-berry {
  background-position: -544px -128px;
}
.item-sprite.oran-berry {
  background-position: -576px -128px;
}
.item-sprite.persim-berry {
  background-position: -608px -128px;
}
.item-sprite.lum-berry {
  background-position: 0px -160px;
}
.item-sprite.sitrus-berry {
  background-position: -32px -160px;
}
.item-sprite.figy-berry {
  background-position: -64px -160px;
}
.item-sprite.wiki-berry {
  background-position: -96px -160px;
}
.item-sprite.mago-berry {
  background-position: -128px -160px;
}
.item-sprite.aguav-berry {
  background-position: -160px -160px;
}
.item-sprite.iapapa-berry {
  background-position: -192px -160px;
}
.item-sprite.pomeg-berry {
  background-position: -224px -160px;
}
.item-sprite.kelpsy-berry {
  background-position: -256px -160px;
}
.item-sprite.qualot-berry {
  background-position: -288px -160px;
}
.item-sprite.hondew-berry {
  background-position: -320px -160px;
}
.item-sprite.grepa-berry {
  background-position: -352px -160px;
}
.item-sprite.tamato-berry {
  background-position: -384px -160px;
}
.item-sprite.occa-berry {
  background-position: -416px -160px;
}
.item-sprite.passho-berry {
  background-position: -448px -160px;
}
.item-sprite.wacan-berry {
  background-position: -480px -160px;
}
.item-sprite.rindo-berry {
  background-position: -512px -160px;
}
.item-sprite.yache-berry {
  background-position: -544px -160px;
}
.item-sprite.chople-berry {
  background-position: -576px -160px;
}
.item-sprite.kebia-berry {
  background-position: -608px -160px;
}
.item-sprite.shuca-berry {
  background-position: 0px -192px;
}
.item-sprite.coba-berry {
  background-position: -32px -192px;
}
.item-sprite.payapa-berry {
  background-position: -64px -192px;
}
.item-sprite.tanga-berry {
  background-position: -96px -192px;
}
.item-sprite.charti-berry {
  background-position: -128px -192px;
}
.item-sprite.kasib-berry {
  background-position: -160px -192px;
}
.item-sprite.haban-berry {
  background-position: -192px -192px;
}
.item-sprite.colbur-berry {
  background-position: -224px -192px;
}
.item-sprite.babiri-berry {
  background-position: -256px -192px;
}
.item-sprite.chilan-berry {
  background-position: -288px -192px;
}
.item-sprite.liechi-berry {
  background-position: -320px -192px;
}
.item-sprite.ganlon-berry {
  background-position: -352px -192px;
}
.item-sprite.salac-berry {
  background-position: -384px -192px;
}
.item-sprite.petaya-berry {
  background-position: -416px -192px;
}
.item-sprite.apicot-berry {
  background-position: -448px -192px;
}
.item-sprite.lansat-berry {
  background-position: -480px -192px;
}
.item-sprite.starf-berry {
  background-position: -512px -192px;
}
.item-sprite.enigma-berry {
  background-position: -544px -192px;
}
.item-sprite.micle-berry {
  background-position: -576px -192px;
}
.item-sprite.custap-berry {
  background-position: -608px -192px;
}
.item-sprite.jaboca-berry {
  background-position: 0px -224px;
}
.item-sprite.rowap-berry {
  background-position: -32px -224px;
}
.item-sprite.bright-powder {
  background-position: -64px -224px;
}
.item-sprite.white-herb {
  background-position: -96px -224px;
}
.item-sprite.macho-brace {
  background-position: -128px -224px;
}
.item-sprite.quick-claw {
  background-position: -160px -224px;
}
.item-sprite.soothe-bell {
  background-position: -192px -224px;
}
.item-sprite.mental-herb {
  background-position: -224px -224px;
}
.item-sprite.choice-band {
  background-position: -256px -224px;
}
.item-sprite.kings-rock {
  background-position: -288px -224px;
}
.item-sprite.silver-powder {
  background-position: -320px -224px;
}
.item-sprite.amulet-coin {
  background-position: -352px -224px;
}
.item-sprite.cleanse-tag {
  background-position: -384px -224px;
}
.item-sprite.soul-dew {
  background-position: -416px -224px;
}
.item-sprite.smoke-ball {
  background-position: -448px -224px;
}
.item-sprite.everstone {
  background-position: -480px -224px;
}
.item-sprite.focus-band {
  background-position: -512px -224px;
}
.item-sprite.lucky-egg {
  background-position: -544px -224px;
}
.item-sprite.scope-lens {
  background-position: -576px -224px;
}
.item-sprite.metal-coat {
  background-position: -608px -224px;
}
.item-sprite.leftovers {
  background-position: 0px -256px;
}
.item-sprite.dragon-scale {
  background-position: -32px -256px;
}
.item-sprite.light-ball {
  background-position: -64px -256px;
}
.item-sprite.soft-sand {
  background-position: -96px -256px;
}
.item-sprite.hard-stone {
  background-position: -128px -256px;
}
.item-sprite.miracle-seed {
  background-position: -160px -256px;
}
.item-sprite.black-glasses {
  background-position: -192px -256px;
}
.item-sprite.black-belt {
  background-position: -224px -256px;
}
.item-sprite.magnet {
  background-position: -256px -256px;
}
.item-sprite.mystic-water {
  background-position: -288px -256px;
}
.item-sprite.sharp-beak {
  background-position: -320px -256px;
}
.item-sprite.poison-barb {
  background-position: -352px -256px;
}
.item-sprite.never-melt-ice {
  background-position: -384px -256px;
}
.item-sprite.spell-tag {
  background-position: -416px -256px;
}
.item-sprite.twisted-spoon {
  background-position: -448px -256px;
}
.item-sprite.charcoal {
  background-position: -480px -256px;
}
.item-sprite.dragon-fang {
  background-position: -512px -256px;
}
.item-sprite.silk-scarf {
  background-position: -544px -256px;
}
.item-sprite.upgrade {
  background-position: -576px -256px;
}
.item-sprite.shell-bell {
  background-position: -608px -256px;
}
.item-sprite.sea-incense {
  background-position: 0px -288px;
}
.item-sprite.lax-incense {
  background-position: -32px -288px;
}
.item-sprite.metal-powder {
  background-position: -64px -288px;
}
.item-sprite.thick-club {
  background-position: -96px -288px;
}
.item-sprite.leek {
  background-position: -128px -288px;
}
.item-sprite.wide-lens {
  background-position: -160px -288px;
}
.item-sprite.muscle-band {
  background-position: -192px -288px;
}
.item-sprite.wise-glasses {
  background-position: -224px -288px;
}
.item-sprite.expert-belt {
  background-position: -256px -288px;
}
.item-sprite.light-clay {
  background-position: -288px -288px;
}
.item-sprite.life-orb {
  background-position: -320px -288px;
}
.item-sprite.power-herb {
  background-position: -352px -288px;
}
.item-sprite.toxic-orb {
  background-position: -384px -288px;
}
.item-sprite.flame-orb {
  background-position: -416px -288px;
}
.item-sprite.quick-powder {
  background-position: -448px -288px;
}
.item-sprite.focus-sash {
  background-position: -480px -288px;
}
.item-sprite.zoom-lens {
  background-position: -512px -288px;
}
.item-sprite.metronome {
  background-position: -544px -288px;
}
.item-sprite.iron-ball {
  background-position: -576px -288px;
}
.item-sprite.lagging-tail {
  background-position: -608px -288px;
}
.item-sprite.destiny-knot {
  background-position: 0px -320px;
}
.item-sprite.black-sludge {
  background-position: -32px -320px;
}
.item-sprite.icy-rock {
  background-position: -64px -320px;
}
.item-sprite.smooth-rock {
  background-position: -96px -320px;
}
.item-sprite.heat-rock {
  background-position: -128px -320px;
}
.item-sprite.damp-rock {
  background-position: -160px -320px;
}
.item-sprite.grip-claw {
  background-position: -192px -320px;
}
.item-sprite.choice-scarf {
  background-position: -224px -320px;
}
.item-sprite.sticky-barb {
  background-position: -256px -320px;
}
.item-sprite.power-bracer {
  background-position: -288px -320px;
}
.item-sprite.power-belt {
  background-position: -320px -320px;
}
.item-sprite.power-lens {
  background-position: -352px -320px;
}
.item-sprite.power-band {
  background-position: -384px -320px;
}
.item-sprite.power-anklet {
  background-position: -416px -320px;
}
.item-sprite.power-weight {
  background-position: -448px -320px;
}
.item-sprite.shed-shell {
  background-position: -480px -320px;
}
.item-sprite.big-root {
  background-position: -512px -320px;
}
.item-sprite.choice-specs {
  background-position: -544px -320px;
}
.item-sprite.flame-plate {
  background-position: -576px -320px;
}
.item-sprite.splash-plate {
  background-position: -608px -320px;
}
.item-sprite.zap-plate {
  background-position: 0px -352px;
}
.item-sprite.meadow-plate {
  background-position: -32px -352px;
}
.item-sprite.icicle-plate {
  background-position: -64px -352px;
}
.item-sprite.fist-plate {
  background-position: -96px -352px;
}
.item-sprite.toxic-plate {
  background-position: -128px -352px;
}
.item-sprite.earth-plate {
  background-position: -160px -352px;
}
.item-sprite.sky-plate {
  background-position: -192px -352px;
}
.item-sprite.mind-plate {
  background-position: -224px -352px;
}
.item-sprite.insect-plate {
  background-position: -256px -352px;
}
.item-sprite.stone-plate {
  background-position: -288px -352px;
}
.item-sprite.spooky-plate {
  background-position: -320px -352px;
}
.item-sprite.draco-plate {
  background-position: -352px -352px;
}
.item-sprite.dread-plate {
  background-position: -384px -352px;
}
.item-sprite.iron-plate {
  background-position: -416px -352px;
}
.item-sprite.odd-incense {
  background-position: -448px -352px;
}
.item-sprite.rock-incense {
  background-position: -480px -352px;
}
.item-sprite.full-incense {
  background-position: -512px -352px;
}
.item-sprite.wave-incense {
  background-position: -544px -352px;
}
.item-sprite.rose-incense {
  background-position: -576px -352px;
}
.item-sprite.luck-incense {
  background-position: -608px -352px;
}
.item-sprite.pure-incense {
  background-position: 0px -384px;
}
.item-sprite.protector {
  background-position: -32px -384px;
}
.item-sprite.electirizer {
  background-position: -64px -384px;
}
.item-sprite.magmarizer {
  background-position: -96px -384px;
}
.item-sprite.dubious-disc {
  background-position: -128px -384px;
}
.item-sprite.reaper-cloth {
  background-position: -160px -384px;
}
.item-sprite.razor-claw {
  background-position: -192px -384px;
}
.item-sprite.red-apricorn {
  background-position: -224px -384px;
}
.item-sprite.blue-apricorn {
  background-position: -256px -384px;
}
.item-sprite.yellow-apricorn {
  background-position: -288px -384px;
}
.item-sprite.green-apricorn {
  background-position: -320px -384px;
}
.item-sprite.pink-apricorn {
  background-position: -352px -384px;
}
.item-sprite.white-apricorn {
  background-position: -384px -384px;
}
.item-sprite.black-apricorn {
  background-position: -416px -384px;
}
.item-sprite.fast-ball {
  background-position: -448px -384px;
}
.item-sprite.level-ball {
  background-position: -480px -384px;
}
.item-sprite.lure-ball {
  background-position: -512px -384px;
}
.item-sprite.heavy-ball {
  background-position: -544px -384px;
}
.item-sprite.love-ball {
  background-position: -576px -384px;
}
.item-sprite.friend-ball {
  background-position: -608px -384px;
}
.item-sprite.moon-ball {
  background-position: 0px -416px;
}
.item-sprite.sport-ball {
  background-position: -32px -416px;
}
.item-sprite.park-ball {
  background-position: -64px -416px;
}
.item-sprite.rage-candy-bar {
  background-position: -96px -416px;
}
.item-sprite.prism-scale {
  background-position: -128px -416px;
}
.item-sprite.eviolite {
  background-position: -160px -416px;
}
.item-sprite.float-stone {
  background-position: -192px -416px;
}
.item-sprite.rocky-helmet {
  background-position: -224px -416px;
}
.item-sprite.air-balloon {
  background-position: -256px -416px;
}
.item-sprite.red-card {
  background-position: -288px -416px;
}
.item-sprite.ring-target {
  background-position: -320px -416px;
}
.item-sprite.binding-band {
  background-position: -352px -416px;
}
.item-sprite.absorb-bulb {
  background-position: -384px -416px;
}
.item-sprite.cell-battery {
  background-position: -416px -416px;
}
.item-sprite.eject-button {
  background-position: -448px -416px;
}
.item-sprite.normal-gem {
  background-position: -480px -416px;
}
.item-sprite.health-feather {
  background-position: -512px -416px;
}
.item-sprite.muscle-feather {
  background-position: -544px -416px;
}
.item-sprite.resist-feather {
  background-position: -576px -416px;
}
.item-sprite.genius-feather {
  background-position: -608px -416px;
}
.item-sprite.clever-feather {
  background-position: 0px -448px;
}
.item-sprite.swift-feather {
  background-position: -32px -448px;
}
.item-sprite.pretty-feather {
  background-position: -64px -448px;
}
.item-sprite.dream-ball {
  background-position: -96px -448px;
}
.item-sprite.balm-mushroom {
  background-position: -128px -448px;
}
.item-sprite.big-nugget {
  background-position: -160px -448px;
}
.item-sprite.pearl-string {
  background-position: -192px -448px;
}
.item-sprite.comet-shard {
  background-position: -224px -448px;
}
.item-sprite.casteliacone {
  background-position: -256px -448px;
}
.item-sprite.weakness-policy {
  background-position: -288px -448px;
}
.item-sprite.assault-vest {
  background-position: -320px -448px;
}
.item-sprite.pixie-plate {
  background-position: -352px -448px;
}
.item-sprite.ability-capsule {
  background-position: -384px -448px;
}
.item-sprite.whipped-dream {
  background-position: -416px -448px;
}
.item-sprite.sachet {
  background-position: -448px -448px;
}
.item-sprite.luminous-moss {
  background-position: -480px -448px;
}
.item-sprite.snowball {
  background-position: -512px -448px;
}
.item-sprite.safety-goggles {
  background-position: -544px -448px;
}
.item-sprite.roseli-berry {
  background-position: -576px -448px;
}
.item-sprite.kee-berry {
  background-position: -608px -448px;
}
.item-sprite.maranga-berry {
  background-position: 0px -480px;
}
.item-sprite.lumiose-galette {
  background-position: -32px -480px;
}
.item-sprite.shalour-sable {
  background-position: -64px -480px;
}
.item-sprite.bottle-cap {
  background-position: -96px -480px;
}
.item-sprite.gold-bottle-cap {
  background-position: -128px -480px;
}
.item-sprite.adrenaline-orb {
  background-position: -160px -480px;
}
.item-sprite.ice-stone {
  background-position: -192px -480px;
}
.item-sprite.beast-ball {
  background-position: -224px -480px;
}
.item-sprite.big-malasada {
  background-position: -256px -480px;
}
.item-sprite.terrain-extender {
  background-position: -288px -480px;
}
.item-sprite.protective-pads {
  background-position: -320px -480px;
}
.item-sprite.electric-seed {
  background-position: -352px -480px;
}
.item-sprite.psychic-seed {
  background-position: -384px -480px;
}
.item-sprite.misty-seed {
  background-position: -416px -480px;
}
.item-sprite.grassy-seed {
  background-position: -448px -480px;
}
.item-sprite.pewter-crunchies {
  background-position: -480px -480px;
}
.item-sprite.fighting-memory {
  background-position: -512px -480px;
}
.item-sprite.flying-memory {
  background-position: -544px -480px;
}
.item-sprite.poison-memory {
  background-position: -576px -480px;
}
.item-sprite.ground-memory {
  background-position: -608px -480px;
}
.item-sprite.rock-memory {
  background-position: 0px -512px;
}
.item-sprite.bug-memory {
  background-position: -32px -512px;
}
.item-sprite.ghost-memory {
  background-position: -64px -512px;
}
.item-sprite.steel-memory {
  background-position: -96px -512px;
}
.item-sprite.fire-memory {
  background-position: -128px -512px;
}
.item-sprite.water-memory {
  background-position: -160px -512px;
}
.item-sprite.grass-memory {
  background-position: -192px -512px;
}
.item-sprite.electric-memory {
  background-position: -224px -512px;
}
.item-sprite.psychic-memory {
  background-position: -256px -512px;
}
.item-sprite.ice-memory {
  background-position: -288px -512px;
}
.item-sprite.dragon-memory {
  background-position: -320px -512px;
}
.item-sprite.dark-memory {
  background-position: -352px -512px;
}
.item-sprite.fairy-memory {
  background-position: -384px -512px;
}
.item-sprite.sausages {
  background-position: -416px -512px;
}
.item-sprite.bobs-food-tin {
  background-position: -448px -512px;
}
.item-sprite.bachs-food-tin {
  background-position: -480px -512px;
}
.item-sprite.tin-of-beans {
  background-position: -512px -512px;
}
.item-sprite.bread {
  background-position: -544px -512px;
}
.item-sprite.pasta {
  background-position: -576px -512px;
}
.item-sprite.mixed-mushrooms {
  background-position: -608px -512px;
}
.item-sprite.smoke-poke-tail {
  background-position: 0px -544px;
}
.item-sprite.large-leek {
  background-position: -32px -544px;
}
.item-sprite.fancy-apple {
  background-position: -64px -544px;
}
.item-sprite.brittle-bones {
  background-position: -96px -544px;
}
.item-sprite.pack-of-potatoes {
  background-position: -128px -544px;
}
.item-sprite.pungent-root {
  background-position: -160px -544px;
}
.item-sprite.salad-mix {
  background-position: -192px -544px;
}
.item-sprite.fried-food {
  background-position: -224px -544px;
}
.item-sprite.boiled-egg {
  background-position: -256px -544px;
}
.item-sprite.rusted-sword {
  background-position: -288px -544px;
}
.item-sprite.rusted-shield {
  background-position: -320px -544px;
}
.item-sprite.fossilized-bird {
  background-position: -352px -544px;
}
.item-sprite.fossilized-fish {
  background-position: -384px -544px;
}
.item-sprite.fossilized-drake {
  background-position: -416px -544px;
}
.item-sprite.fossilized-dino {
  background-position: -448px -544px;
}
.item-sprite.strawberry-sweet {
  background-position: -480px -544px;
}
.item-sprite.love-sweet {
  background-position: -512px -544px;
}
.item-sprite.berry-sweet {
  background-position: -544px -544px;
}
.item-sprite.clover-sweet {
  background-position: -576px -544px;
}
.item-sprite.flower-sweet {
  background-position: -608px -544px;
}
.item-sprite.star-sweet {
  background-position: 0px -576px;
}
.item-sprite.ribbon-sweet {
  background-position: -32px -576px;
}
.item-sprite.sweet-apple {
  background-position: -64px -576px;
}
.item-sprite.tart-apple {
  background-position: -96px -576px;
}
.item-sprite.throat-spray {
  background-position: -128px -576px;
}
.item-sprite.eject-pack {
  background-position: -160px -576px;
}
.item-sprite.heavy-duty-boots {
  background-position: -192px -576px;
}
.item-sprite.blunder-policy {
  background-position: -224px -576px;
}
.item-sprite.room-service {
  background-position: -256px -576px;
}
.item-sprite.utility-umbrella {
  background-position: -288px -576px;
}
.item-sprite.exp-candy-xs {
  background-position: -320px -576px;
}
.item-sprite.exp-candy-s {
  background-position: -352px -576px;
}
.item-sprite.exp-candy-m {
  background-position: -384px -576px;
}
.item-sprite.exp-candy-l {
  background-position: -416px -576px;
}
.item-sprite.exp-candy-xl {
  background-position: -448px -576px;
}
.item-sprite.dynamax-candy {
  background-position: -480px -576px;
}
.item-sprite.lonely-mint {
  background-position: -512px -576px;
}
.item-sprite.adamant-mint {
  background-position: -544px -576px;
}
.item-sprite.naughty-mint {
  background-position: -576px -576px;
}
.item-sprite.brave-mint {
  background-position: -608px -576px;
}
.item-sprite.bold-mint {
  background-position: 0px -608px;
}
.item-sprite.impish-mint {
  background-position: -32px -608px;
}
.item-sprite.lax-mint {
  background-position: -64px -608px;
}
.item-sprite.relaxed-mint {
  background-position: -96px -608px;
}
.item-sprite.modest-mint {
  background-position: -128px -608px;
}
.item-sprite.mild-mint {
  background-position: -160px -608px;
}
.item-sprite.rash-mint {
  background-position: -192px -608px;
}
.item-sprite.quiet-mint {
  background-position: -224px -608px;
}
.item-sprite.calm-mint {
  background-position: -256px -608px;
}
.item-sprite.gentle-mint {
  background-position: -288px -608px;
}
.item-sprite.careful-mint {
  background-position: -320px -608px;
}
.item-sprite.sassy-mint {
  background-position: -352px -608px;
}
.item-sprite.timid-mint {
  background-position: -384px -608px;
}
.item-sprite.hasty-mint {
  background-position: -416px -608px;
}
.item-sprite.jolly-mint {
  background-position: -448px -608px;
}
.item-sprite.naive-mint {
  background-position: -480px -608px;
}
.item-sprite.serious-mint {
  background-position: -512px -608px;
}
.item-sprite.wishing-piece {
  background-position: -544px -608px;
}
.item-sprite.cracked-pot {
  background-position: -576px -608px;
}
.item-sprite.chipped-pot {
  background-position: -608px -608px;
}
.item-sprite.fruit-bunch {
  background-position: 0px -640px;
}
.item-sprite.moomoo-cheese {
  background-position: -32px -640px;
}
.item-sprite.spice-mix {
  background-position: -64px -640px;
}
.item-sprite.fresh-cream {
  background-position: -96px -640px;
}
.item-sprite.packaged-curry {
  background-position: -128px -640px;
}
.item-sprite.coconut-milk {
  background-position: -160px -640px;
}
.item-sprite.instant-noodles {
  background-position: -192px -640px;
}
.item-sprite.precooked-burger {
  background-position: -224px -640px;
}
.item-sprite.gigantamix {
  background-position: -256px -640px;
}
.item-sprite.max-honey {
  background-position: -288px -640px;
}
.item-sprite.max-mushrooms {
  background-position: -320px -640px;
}
.item-sprite.galarica-twig {
  background-position: -352px -640px;
}
.item-sprite.galarica-cuff {
  background-position: -384px -640px;
}
.item-sprite.armorite-ore {
  background-position: -416px -640px;
}
.item-sprite.galarica-wreath {
  background-position: -448px -640px;
}
.item-sprite.dynite-ore {
  background-position: -480px -640px;
}
.item-sprite.ability-patch {
  background-position: -512px -640px;
}
