<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" colspan="2" rowspan="2">Pokémon</th>
        <th scope="col" rowspan="2"><abbr title="Original Trainer">OT</abbr></th>
        <th scope="col" rowspan="2">Nature</th>
        <th scope="col" rowspan="2">Ability</th>
        <th scope="col" colspan="6">
          <abbr title="Individual Values">IVs</abbr> / <abbr title="Effort Values">EVs</abbr>
        </th>
        <th scope="col" rowspan="2">Hidden<br />Power</th>
        <th scope="col" rowspan="2">Moves</th>
        <th scope="col" rowspan="2">Poké Ball</th>
      </tr>

      <tr>
        <th scope="col" class="hp"><abbr title="Hit Points">HP</abbr></th>
        <th scope="col" class="atk"><abbr title="Attack">Atk</abbr></th>
        <th scope="col" class="def"><abbr title="Defense">Def</abbr></th>
        <th scope="col" class="spa"><abbr title="Special Attack">SpA</abbr></th>
        <th scope="col" class="spd"><abbr title="Special Defense">SpD</abbr></th>
        <th scope="col" class="spe"><abbr title="Speed">Spe</abbr></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pkm of pokemons | async">
        <td>[Sprite]</td>
        <td>{{ pkm.shiny ? '[Shiny]' : '' }} {{ pkm.species }}</td>
        <td class="text-center">{{ pkm.ot }}<br />({{ pkm.tid }})</td>
        <td class="text-center">{{ pkm.nature }}<br />({{ pkm.statNature }})</td>
        <td class="text-center">{{ pkm.ability }}</td>
        <td class="text-center">{{ pkm.hpiv }}<br />{{ pkm.hpev }}</td>
        <td class="text-center">{{ pkm.atkiv }}<br />{{ pkm.atkev }}</td>
        <td class="text-center">{{ pkm.defiv }}<br />{{ pkm.defev }}</td>
        <td class="text-center">{{ pkm.spaiv }}<br />{{ pkm.spaev }}</td>
        <td class="text-center">{{ pkm.spdiv }}<br />{{ pkm.spdev }}</td>
        <td class="text-center">{{ pkm.speiv }}<br />{{ pkm.speev }}</td>
        <td class="text-center">[HP] [HPP]</td>
        <td>{{ pkm.move1 }}, {{ pkm.move2 }}, {{ pkm.move3 }}, {{ pkm.move4 }},</td>
        <td class="text-center">{{ pkm.ball }}</td>
      </tr>
    </tbody>
  </table>
</div>
