td.adamant ~ td.atk,
td.brave ~ td.atk,
td.lonely ~ td.atk,
td.naughty ~ td.atk,
td.bold ~ td.def,
td.impish ~ td.def,
td.relaxed ~ td.def,
td.modest ~ td.spa,
td.mild ~ td.spa,
td.rash ~ td.spa,
td.quiet ~ td.spa,
td.calm ~ td.spd,
td.careful ~ td.spd,
td.sassy ~ td.spd,
td.jolly ~ td.spe,
td.timid ~ td.spe,
td.hasty ~ td.spe,
td.naive ~ td.spe {
  color: #c00000;
  font-weight: bold;
}

td.modest ~ td.atk,
td.timid ~ td.atk,
td.calm ~ td.atk,
td.bold ~ td.atk,
td.lonely ~ td.def,
td.mild ~ td.def,
td.hasty ~ td.def,
td.adamant ~ td.spa,
td.jolly ~ td.spa,
td.impish ~ td.spa,
td.careful ~ td.spa,
td.naive ~ td.spd,
td.rash ~ td.spd,
td.naughty ~ td.spd,
td.brave ~ td.spe,
td.quiet ~ td.spe,
td.sassy ~ td.spe,
td.relaxed ~ td.spe {
  color: #00ccff;
  font-weight: lighter;
}

.shiny-star::before {
  content: '★ ';
  color: #f11;
}

thead th.stat {
  border-bottom-width: 4px;
}

thead th.hp {
  border-bottom-color: #77f296;
}

thead th.atk {
  border-bottom-color: #f4e585;
}

thead th.def {
  border-bottom-color: #ffb17a;
}

thead th.spa {
  border-bottom-color: #88dee3;
}

thead th.spd {
  border-bottom-color: #859fff;
}

thead th.spe {
  border-bottom-color: #d880ff;
}

.up {
  padding: 0.3125em 0.125em 0.5625em;
}

tr:hover .pulse {
  animation: pulse 0.3s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    padding: 0;
  }
  50% {
    padding: 0.15em;
  }
  100% {
    padding: 0;
  }
}
