<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" colspan="2" rowspan="2">Pokémon</th>
        <th scope="col" rowspan="2" class="text-center"><abbr title="Original Trainer">OT</abbr></th>
        <th scope="col" rowspan="2" class="text-center">Nature</th>
        <th scope="col" rowspan="2" class="text-center">Ability</th>
        <th scope="col" colspan="6" class="text-center">
          <abbr title="Individual Values">IVs</abbr> / <abbr title="Effort Values">EVs</abbr>
        </th>
        <th scope="col" rowspan="2" class="text-center">Hidden<br />Power</th>
        <th scope="col" rowspan="2" class="text-center">Origin<br />Game</th>
        <th scope="col" rowspan="2" class="text-center">Poké Ball</th>
        <th scope="col" rowspan="2">Moves</th>
      </tr>

      <tr>
        <th scope="col" class="hp text-center"><abbr title="Hit Points">HP</abbr></th>
        <th scope="col" class="atk text-center"><abbr title="Attack">Atk</abbr></th>
        <th scope="col" class="def text-center"><abbr title="Defense">Def</abbr></th>
        <th scope="col" class="spa text-center"><abbr title="Special Attack">SpA</abbr></th>
        <th scope="col" class="spd text-center"><abbr title="Special Defense">SpD</abbr></th>
        <th scope="col" class="spe text-center"><abbr title="Speed">Spe</abbr></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pkm of pokemons | async">
        <td>
          <span
            [title]="pkm.species"
            class="menu-sprite {{ getPokemonSprite(pkm.species, pkm.form) }}"
            [class.shiny]="pkm.shiny"
            >{{ pkm.species }}
          </span>
        </td>
        <td class="text-center vertical-middle" [class.shiny-star]="pkm.shiny">
          {{ getSpecies(pkm.species, pkm.form) }}
        </td>
        <td class="text-center vertical-middle">
          {{ pkm.ot }}<br /><small>({{ pkm.tid }})</small>
        </td>
        <td
          class="text-center vertical-middle"
          [class]="getNatureClass(pkm.nature, pkm.statNature)"
          [innerHTML]="getNatureFormat(pkm.nature, pkm.statNature)"
        ></td>
        <td class="text-center vertical-middle">{{ pkm.ability }}</td>
        <td class="text-center vertical-middle hp" [innerHTML]="getStat(pkm, pkm.hpiv, pkm.hpev, pkm.hpht)"></td>
        <td class="text-center vertical-middle atk" [innerHTML]="getStat(pkm, pkm.atkiv, pkm.atkev, pkm.atkht)"></td>
        <td class="text-center vertical-middle def" [innerHTML]="getStat(pkm, pkm.defiv, pkm.defev, pkm.defht)"></td>
        <td class="text-center vertical-middle spa" [innerHTML]="getStat(pkm, pkm.spaiv, pkm.spaev, pkm.spaht)"></td>
        <td class="text-center vertical-middle spd" [innerHTML]="getStat(pkm, pkm.spdiv, pkm.spdev, pkm.spdht)"></td>
        <td class="text-center vertical-middle spe" [innerHTML]="getStat(pkm, pkm.speiv, pkm.speev, pkm.speht)"></td>
        <td class="text-center vertical-middle">
          <span [title]="getHiddenPowerType(pkm)" class=" type-sprite {{ getHiddenPowerTypeSprite(pkm) }}"
            >{{ getHiddenPowerType(pkm) }}
          </span>
        </td>
        <td class="text-center vertical-middle">{{ pkm.originGame }}</td>
        <td class="text-center vertical-middle">
          <span [title]="pkm.ball" class="item-sprite {{ getBallSprite(pkm.ball) }}">{{ pkm.ball }} </span>
        </td>
        <td class="vertical-middle" [innerHTML]="getMoves(pkm)"></td>
      </tr>
    </tbody>
  </table>
</div>
