<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Hello, there!</h1>
    <p class="lead">Welcome to my Collection Sheet</p>
    <hr class="my-4" />
    <p>
      Everything you see here, up to (and including) Gen 7, is RNG abused with CFW (3DS) or emulators (GC, GBA, DS,
      3DS). Pokémon caught in Gen 8 (Sword/Shield) are caught without an emulator or CFW, but I use a bot to get the
      Shinies I want. Non-Shinies will be bred manual using legit Ditto's.
    </p>
  </div>
</div>

<div class="container-fluid">
  <div class="bg-light rounded-3 m-3">
    <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-center">
      <li ngbNavItem *ngFor="let tab of tabs">
        <a ngbNavLink>{{ tab.name }}</a>
        <ng-template ngbNavContent>
          <app-pokemon-table [pokemons]="tab.pokemons"></app-pokemon-table>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="p-3"></div>
  </div>
</div>
